/* CSS med fokus på tekst */

h2 {
    font-size: 12px;
    color: #000000;
    font-family: arial;
}

h2:hover {
    color: #8abfbe;
    text-decoration: underline;
}

h1 {
    margin-top: 25px;
    text-align: center;
    position: static;
    text-decoration: underline;
}

hr {
    height: 5px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #04839c;

}

.beskrivelse-kp {
    padding: 80px;
}

.beskrivelse-kp p {
    font-size: 18px;
    line-height: 30px;
}

.beskrivelse-adobe {
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.beskrivelse-adobe p {
    font-size: 18px;
    line-height: 30px;
}

.portføjle-billeder1 li p {
    text-align: center;
}

.portføjle-billeder2 li p {
    text-align: center;
}

.title1 {
    padding-top: 20px;
}

h3 {
    color: #000;
    font-size: small;
}

.adresse:hover {
    color: #8abfbe;
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    h2 {
        font-size: 18px;
        color: #000000;
        font-family: arial;
    }

    h1 {
        margin-top: 25px;
        text-align: center;
        position: static;
    }

    h3 {
        font-size: medium;
    }
}

@media only screen and (min-width: 960px) {
    h2 {
        font-size: 20px;
    }

    h1 {
        margin-top: 100px;
        text-align: center;
        position: static;
    }
}