/*Body*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c2e3e5;
}

/*Header*/
.box1 {
    width: 100%;
    height: 100px;
    background-color: #c2e3e5;
    margin-top: -100px;
    position: fixed;
    z-index: 99;
}

.header1 {
    width: 100%;
    height: 0px;
    background-color: #04839c;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-top: -100px;
    z-index: 99;
}

.header1:hover {
    width: 100%;
    height: 100px;
}


.logo {
    width: fit-content;
    height: 100%;
    margin-top: 0px;
    margin-left: 10px;
}

.logo img {
    height: 90px;
    align-self: center;
}

.nav {
    width: fit-content;
    height: 100%;
}

.nav li {
    list-style: none;
    margin-right: 20px;
    float: left;
}

.nav li a {
    display: block;
    text-decoration: none;
    padding: 1px 10px;
    line-height: 100px;
}

.nav li a h2 {
    font-size: 16px;
    color: #000000;
    font-family: arial;
}

.nav li a h2:hover {
    color: #8abfbe;
    text-decoration: underline;
}

/*Wrapper*/
.wrapper {
    margin: 0 auto;
    width: 400px;
    min-height: 50vh;
    background-color: rgb(255, 255, 255);
}

.wrapper h1 {
    padding-top: 20px;
    text-align: center;
    position: static;
    text-decoration: underline;
}

.pbfoto img {
    width: 75%;
    margin-top: 20px;
    margin-left: 50px;
    border: 5px solid #04839c;
}

.wrapper h4 {
    font-size: 25px;
    padding-left: 50px;
}

.wrapper .udannelse {
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 5px;
    text-decoration: underline;
}

.wrapper .hvemerjeg {
    font-size: 18px;
    padding-left: 50px;
    padding-top: 20px;
    text-decoration: underline;
}

.mig1 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 22px;
}

.wrapper hr {
    height: 3px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #04839c;
}

.wrapper .hvemerjeg2 {
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

.wrapper .ishav {
    width: fit-content;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ishav img {
    width: 400px;
}

/*Footer*/
.footer1 {
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 280px;
    background-color: #04839c;
}

.footer1-flex {
    display: flex;
}

.wrapper-footer {
    margin: 0 auto;
    width: 400px;
}

.social {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.social img {
    height: 50px;
    align-self: center;
    
}

.item2 {
    list-style: none;
    line-height: 40px;
}

.item2 li a {
    text-decoration: none;
}

.item2 h3 {
    font-size: 18px;
    color: #000;
}

.adresse:hover {
    color: #8abfbe;
    text-decoration: underline;
}

/*facebook*/
.facebook {
    position: relative;
    display: inline-block;
    padding-left: 100px;
}

.facebook .facebook-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.facebook:hover .facebook-hover {
    display: inline;
    padding-left: 100px;
}

/*instagram*/
.instagram {
    position: relative;
    display: inline-block;
    padding-left: 100px;
}
.instagram .instagram-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.instagram:hover .instagram-hover {
    display: inline;
    padding-left: 100px;
}

/*linkedin*/
.linkedin {
    position: relative;
    display: inline-block;
    padding-left: 100px;
}
.linkedin .linkedin-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.linkedin:hover .linkedin-hover {
    display: inline;
    padding-left: 100px;
}

/*youtube*/
.youtube {
    position: relative;
    display: inline-block;
    padding-left: 100px;
}
.youtube .youtube-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.youtube:hover .youtube-hover {
    display: inline;
    padding-left: 100px;
}



/*Kontakt side*/
.kontakt {
    padding: 50px;
    text-align: center;
}

.kontakt-box {
    max-width: 800px;
    margin: 0 auto;
}

.kontakt-wrapper {
    grid-template-columns: 1fr;
}

.kontakt-form {
    text-align: left;
}

.kontakt-form h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.form-gruppe {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #c2e3e5;
    color: #333;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #c2e3e5;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 30%;
}

button:hover {
    background-color: #04839c;
}

.kontakt-info {
    text-align: left;
    padding-top: 20px;
}

.kontakt-info h3 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #000;
}

.kontakt-info p {
    margin-bottom: 10px;
    color: #000;
}



/*Komepenter & portføjle side*/
.wrapper-portføjle {
    margin: 0 auto;
    width: 400px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.wrapper-portføjle h1 {
    padding-top: 20px;
    text-align: center;
    position: static;
    text-decoration: underline;
}

.wrapper-portføjle .kp-beskrivelse {
    padding-top: 10px;
}

.wrapper-portføjle .kp1 {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
}

.wrapper-portføjle hr {
    height: 3px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #04839c;
}

/*Første række billeder & videoer*/
.portføjle-billeder1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 45px;
    padding-bottom: 10px;
}

.portføjle-billeder1 li {
    list-style: none;
}

.portføjle-billeder1 li img {
    width: 300px;
    border: 5px solid #04839c;
}

.portføjle-billeder1 li video {
    border: 5px solid #04839c;
}

.portføjle-billeder1 li p {
    font-size: 18px;
    padding-bottom: 20px;
}

/*Anden række billeder*/
.portføjle-billeder2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 45px;
    padding-bottom: 10px;
}

.portføjle-billeder2 li {
    list-style: none;
}

.portføjle-billeder2 li img {
    width: 300px;
    border: 5px solid #04839c;
}

.portføjle-billeder2 li video {
    border: 5px solid #04839c;
}

.portføjle-billeder2 li p {
    font-size: 18px;
    padding-bottom: 20px;
}


/*Række af videoer*/
.wrapper-portføjle .kp2 {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
}

.portføjle-videoer1 li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.portføjle-videoer1 li video {
    border: 5px solid #04839c;
}

.portføjle-videoer1 li p {
    font-size: 18px;
    padding-bottom: 10px;
}
/*Slutning af koden for billeder og videoer*/

.wrapper-portføjle .kp3 {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
}

.bundbillede {
    width: fit-content;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bundbillede img {
    width: 400px;        
}